In [1]:
#cols in canada dataframe
import pandas as pd
canada = pd.read_csv("Canada.csv")
print(canada.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      196 non-null    object
 1   Coverage  196 non-null    object
 2   OdName    196 non-null    object
 3   AREA      196 non-null    int64
 4   AreaName  196 non-null    object
 5   REG       196 non-null    int64
 6   RegName   196 non-null    object
 7   DEV       196 non-null    int64
 8   DevName   196 non-null    object
 9   1980      196 non-null    int64
 10  1981      196 non-null    int64
 11  1982      196 non-null    int64
 12  1983      196 non-null    int64
 13  1984      196 non-null    int64
 14  1985      196 non-null    int64
 15  1986      196 non-null    int64
 16  1987      196 non-null    int64
 17  1988      196 non-null    int64
 18  1989      196 non-null    int64
 19  1990      196 non-null    int64
 20  1991      196 non-null    int64
 21  1992      196 non-null    int64
 22  1993      196 non-null    int64
 23  1994      196 non-null    int64
 24  1995      196 non-null    int64
 25  1996      196 non-null    int64
 26  1997      196 non-null    int64
 27  1998      196 non-null    int64
 28  1999      196 non-null    int64
 29  2000      196 non-null    int64
 30  2001      196 non-null    int64
 31  2002      196 non-null    int64
 32  2003      196 non-null    int64
 33  2004      196 non-null    int64
 34  2005      196 non-null    int64
 35  2006      196 non-null    int64
 36  2007      196 non-null    int64
 37  2008      196 non-null    int64
 38  2009      196 non-null    int64
 39  2010      196 non-null    int64
 40  2011      196 non-null    int64
 41  2012      196 non-null    int64
 42  2013      196 non-null    int64
dtypes: int64(37), object(6)
memory usage: 66.0+ KB
None

In [2]:
#first 5 rows in canada dataframe
import pandas as pd
canada = pd.read_csv("Canada.csv")
print(canada.head())

         Type    Coverage          OdName  AREA AreaName   REG
0  Immigrants  Foreigners     Afghanistan   935     Asia  5501  \
1  Immigrants  Foreigners         Albania   908   Europe   925
2  Immigrants  Foreigners         Algeria   903   Africa   912
3  Immigrants  Foreigners  American Samoa   909  Oceania   957
4  Immigrants  Foreigners         Andorra   908   Europe   925

           RegName  DEV             DevName  1980  ...  2004  2005  2006
0    Southern Asia  902  Developing regions    16  ...  2978  3436  3009  \
1  Southern Europe  901   Developed regions     1  ...  1450  1223   856
2  Northern Africa  902  Developing regions    80  ...  3616  3626  4807
3        Polynesia  902  Developing regions     0  ...     0     0     1
4  Southern Europe  901   Developed regions     0  ...     0     0     1

   2007  2008  2009  2010  2011  2012  2013
0  2652  2111  1746  1758  2203  2635  2004
1   702   560   716   561   539   620   603
2  3623  4005  5393  4752  4325  3774  4331
3     0     0     0     0     0     0     0
4     1     0     0     0     0     1     1

[5 rows x 43 columns]

In [3]:
#summary statistics  in canada dataframe
import pandas as pd
canada = pd.read_csv("Canada.csv")
print(canada.describe())

             AREA          REG         DEV          1980          1981
count  196.000000   196.000000  196.000000    196.000000    196.000000  \
mean   913.204082  1247.739796  902.250000    730.290816    656.331633
std     14.429997  1182.618008    6.959498   3664.971286   2484.869895
min    903.000000   905.000000  901.000000      0.000000      0.000000
25%    903.000000   914.000000  902.000000      0.000000      0.000000
50%    908.000000   922.000000  902.000000     13.500000     10.000000
75%    935.000000   926.000000  902.000000    263.000000    296.750000
max    999.000000  5501.000000  999.000000  44000.000000  24796.000000

               1982          1983          1984          1985          1986
count    196.000000    196.000000    196.000000    196.000000    196.000000  \
mean     618.239796    455.025510    450.367347    430.336735    506.892857
std     2198.843498   1529.175952   1580.492649   1469.775915   1529.161726
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.750000
50%       11.500000     12.000000     13.500000     17.000000     19.500000
75%      292.250000    181.250000    189.000000    199.000000    257.000000
max    20620.000000  13635.000000  14855.000000  14368.000000  13303.000000

       ...          2004          2005          2006          2007
count  ...    196.000000    196.000000    196.000000    196.000000  \
mean   ...   1203.173469   1337.969388   1283.877551   1207.923469
std    ...   3705.454268   4421.525944   3923.791864   3442.092092
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...     20.000000     28.750000     25.500000     31.500000
50%    ...    193.500000    210.500000    224.000000    198.000000
75%    ...    789.500000    852.500000    849.250000    940.500000
max    ...  36619.000000  42584.000000  33848.000000  28742.000000

               2008          2009          2010          2011          2012
count    196.000000    196.000000    196.000000    196.000000    196.000000  \
mean    1261.448980   1286.581633   1432.076531   1269.122449   1315.831633
std     3691.110002   3822.816364   4454.546970   4020.795822   4236.731113
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       31.500000     36.500000     41.250000     37.750000     42.750000
50%      205.000000    215.500000    213.500000    187.500000    234.000000
75%      956.250000    907.250000    938.000000    815.750000    790.000000
max    30037.000000  29622.000000  38617.000000  36765.000000  34315.000000

               2013
count    196.000000
mean    1321.535714
std     4227.087570
min        0.000000
25%       45.000000
50%      215.000000
75%      826.500000
max    34129.000000

[8 rows x 37 columns]

In [4]:
#No of cols and rows in canada dataframe
import pandas as pd
canada = pd.read_csv("Canada.csv")
print(canada.shape)

(196, 43)